<?xml version="1.0" encoding="UTF-8"?>
<module name="${module.name}" #if( ${module.namespace})xmlns="${module.namespace}"#else xmlns="urn:jboss:module:1.5"#end>

    #if( ${module.properties})
        <properties>
            #foreach( ${property} in ${module.properties.entrySet()} )
                <property name="${property.key}" value="${property.value}" />
            #end
        </properties>
    #end

    #if( ${module.artifacts})
        <resources>
        #foreach( ${artifact} in ${module.artifacts} )
            <resource-root path="${artifact.artifactId}-${artifact.version}.${artifact.packaging}"
                #if( ${artifact.attributes})
                    #foreach( ${attribute} in ${artifact.attributes.entrySet()} )
                           ${attribute.key}="${attribute.value}"
                    #end
                #end
            />
        #end
        </resources>
    #end

    #if( ${module.dependencies})
        <dependencies>
            #foreach( ${dependency} in ${module.dependencies} )
                <module name="${dependency.name}"
                    #if( ${dependency.attributes})
                        #foreach( ${attribute} in ${dependency.attributes.entrySet()} )
                            ${attribute.key}="${attribute.value}"
                        #end
                    #end
                />
            #end
        </dependencies>
    #end

</module>
