<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <artifactId>build</artifactId>
    <groupId>build</groupId>
    <version>1</version>
    <packaging>pom</packaging>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-dependency-plugin</artifactId>
                <executions>
                    <execution>
                        <phase>package</phase>
                        <goals>
                            <goal>copy</goal>
                        </goals>
                        <configuration>
                            <artifactItems>
                                #foreach( ${artifact} in ${artifacts} )
                                    <artifactItem>
                                        <groupId>${artifact.groupId}</groupId>
                                        <artifactId>${artifact.artifactId}</artifactId>
                                        <version>${artifact.version}</version>
                                        <outputDirectory>${modulePath}</outputDirectory>
                                    </artifactItem>
                                #end
                            </artifactItems>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>

</project>